<!-- <div class="row">
    <div class="col-md-4" *ngFor="let post of subject; let i = index;">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-primary">{{ post.title }}</h5>
                <p class="card-text text-muted" style="font-size:14px"> User ID : {{ post.userId}} </p>
                <p class="card-text"> {{ post.body}} </p>
            </div>
        </div>
    </div>
</div> -->

<h3>Album Detail</h3>
<hr>
<div class="row p-2">
    <ng-container [formGroup]="AlbumForm">
        <div class="col-md-2">
            <label for="ID">ID :</label>
            <input class="form-control" formControlName="albumId" type="number">
        </div>
        <div class="col-md-2">
            <label for="ID">User ID :</label>
            <input class="form-control" formControlName="userId" type="number">
        </div>
        <div class="col-md-4">
            <label for="ID">Title :</label>
            <input class="form-control" formControlName="title" type="text"
            [ngClass]="{ 'border border-warning': AlbumForm.controls['title'].dirty}">
        </div>
        <div class="col pt-4">
            <button class="btn btn-outline-success" type="button" (click)="save()">Save</button>
        </div>
    </ng-container>
</div>

<div class="row pl-2 pt-5">

    <h3>Photos</h3>
    <hr>


    <div class="col-md-4 p-5" *ngFor="let row of photo;">
        <ng-container [formGroup]="row.form">
            <div class="card" style="width: 18rem;">
                <img src="{{ row.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <label for="id">Photo ID :</label>
                    <input type="text" class="form-control" formControlName="id">
                    <!-- <h5 class="card-title"> {{ p.id }} </h5> -->
                    <label for="id">Title :</label>
                    <input type="text" class="form-control" formControlName="title"
                    [ngClass]="{ 'border border-warning': row.form.controls['title'].dirty}">
                    <!-- <p class="card-text">{{ p.title }}</p> -->
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    <!-- <button class="btn btn-outline-success mt-4" type="button">Save</button> -->
                </div>
            </div>
        </ng-container>
    </div>
</div>