
<div class="container border">
  <!-- Open Navber -->
  <nav class="navbar navbar-expand-lg navbar-light py-3 py-lg-4">
    <a class="navbar-brand" href="#">Angular Training</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="employee">Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="subject">Subject</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="album">Album</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Close Navbar -->

  <div class="row">
    <div class="col m- p-3 border">
      <!-- <img src="https://images8.alphacoders.com/122/1224757.jpg" alt="shikimori" class="img-fluid"> -->
      <!-- <app-employee></app-employee> -->
      <router-outlet></router-outlet>
    </div>
  </div>
 <!-- <img src="https://cdn.wallpapersafari.com/55/83/Pl6QHc.jpg" alt="" class="bg-img"> -->
</div>
