<!-- <div class="row">
    <div class="col-md-4" *ngFor="let post of subject; let i = index;">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-primary">{{ post.title }}</h5>
                <p class="card-text text-muted" style="font-size:14px"> User ID : {{ post.userId}} </p>
                <p class="card-text"> {{ post.body}} </p>
            </div>
        </div>
    </div>
</div> -->
<div class="row ">
    <h1 class="text-center text-primary"> Subjects </h1>
</div>

<div class="row p-5">
    <div class="col">
        <form [formGroup]="subjectForm">
            <div class="row">
                <div class="col-md-9">
                    <!-- <label for="id">ID :</label> -->
                    <input class="form-control" formControlName="id" type="string" placeholder="Input 1 - 10">
                </div>
                <div class="col-md-3">
                    <button type="button" 
                    class="btn btn-outline-success"
                    (click)="FetchByEmpId()"
                    >Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-bordered">
            <thead class="text-center">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Body</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of subject; let i = index;">
                    <!-- <ng-container *ngIf="post.id"> -->
                        <td class="text-center">
                            {{ post.id }}  
                        </td>
                        <td>{{ post.title }}</td>
                        <td>{{ post.body }}</td>
                        <td class="text-center"> <button class="btn btn-outline-danger center">Delete</button> </td>
                    <!-- </ng-container> -->
                    
                    <!-- <td class="text-center">{{ emp.id }}</td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- <div class="row">
    <div class="col-md-4" *ngFor="let post of subject; let i = index;">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-primary">{{ post.title }}</h5>
                <p class="card-text text-muted" style="font-size:14px"> User ID : {{ post.userId}} </p>
                <p class="card-text"> {{ post.body}} </p>
            </div>
        </div>
    </div>
</div> -->