<!-- <label for="id" style="padding: 10px;">Name: </label> -->
<!-- <input type="text" id="name" [formControl]="name" class="form-control"> -->
<form [formGroup]="employeeForm">
    <!-- ID -->
    <label for="id" style="padding: 10px">ID<span class="text-danger"> *</span> :  </label>
    <input type="text" formControlName="id" class="form-control"
        [ngClass]="{ 'is-invalid': employeeForm.controls['id'].invalid && employeeForm.controls['id'].dirty}" />
    <div class="invalid-feedback" *ngIf="employeeForm.controls['id'].errors?.['required']">
        กรุณาระบุจำนวนตั้งแต่ 1-500
    </div>
    <div class="invalid-feedback" *ngIf="employeeForm.controls['id'].errors?.['min']">
        กรุณาระบุจำนวนมากกว่า 0
    </div>
    <div class="invalid-feedback" *ngIf="employeeForm.controls['id'].errors?.['max']">
        กรุณาระบุจำนวนน้อยกว่า 500
    </div>
    <!-- Username -->
    <label for="username" style="padding: 10px">Username<span class="text-danger"> *</span> : </label>
    <input type="text" formControlName="username" class="form-control"
        [ngClass]="{ 'is-invalid': employeeForm.controls['username'].invalid && employeeForm.controls['username'].dirty}" />
    <div class="invalid-feedback" *ngIf="employeeForm.controls['username'].errors?.['required']">
        กรุณาระบุอักขระไม่เกิน 30 ตัว
    </div>
    <div class="invalid-feedback" *ngIf="employeeForm.controls['username'].errors?.['maxlength']">
        กรุณาระบุอักขระน้อยกว่า 30 ตัว
    </div>
    <!-- Name -->
    <label for="name" style="padding: 10px">Name<span class="text-danger"> *</span> : </label>
    <input type="text" formControlName="name" class="form-control"
        [ngClass]="{ 'is-invalid': employeeForm.controls['name'].invalid && employeeForm.controls['name'].dirty}" />
    <div class="invalid-feedback" *ngIf="employeeForm.controls['name'].errors?.['required']">
        กรุณาระบุอักขระไม่เกิน 100 ตัว
    </div>
    <div class="invalid-feedback" *ngIf="employeeForm.controls['name'].errors?.['maxlength']">
        กรุณาระบุอักขระน้อยกว่า 100 ตัว
    </div>
    <!-- E-mail -->
    <label for="email" style="padding: 10px">E-mail : </label>
    <input type="text" formControlName="email" class="form-control"
        [ngClass]="{ 'is-invalid': employeeForm.controls['email'].invalid && employeeForm.controls['email'].dirty}" />
    <div class="invalid-feedback"
        *ngIf="employeeForm.controls['email'].errors?.['email'] && !employeeForm.controls['email'].errors?.['maxlength']">
        กรุณาระบุ e-mail ให้ถูกต้อง Ex. user@mail.com
    </div>
    <div class="invalid-feedback" *ngIf="employeeForm.controls['email'].errors?.['maxlength']">
        กรุณาระบุน้อยกว่า 150 ตัว
    </div>
    <!-- Phone -->
    <label for="phone" style="padding: 10px">Phone : </label>
    <input type="text" formControlName="phone" class="form-control"
        [ngClass]="{ 'is-invalid': employeeForm.controls['phone'].invalid && employeeForm.controls['phone'].dirty}" />
    <div class="invalid-feedback" *ngIf="employeeForm.controls['phone'].errors?.['maxlength']">
        กรุณาระบุน้อยกว่า 50 ตัว
    </div>
    <!-- Website -->
    <label for="website" style="padding: 10px">Website: </label>
    <input type="text" formControlName="website" class="form-control"
        [ngClass]="{ 'is-invalid': employeeForm.controls['website'].invalid && employeeForm.controls['website'].dirty}" />
    <div class="invalid-feedback" *ngIf="employeeForm.controls['website'].errors?.['maxlength']">
        กรุณาระบุน้อยกว่า 200 ตัว
    </div>
    <!--  -->
</form>

<br />
<h3>Address</h3>
<hr />
<br />

<form [formGroup]="employeeForm">
    <ng-container formGroupName="address">
        <label for="street" style="padding: 10px">Street : </label>
        <input type="text" formControlName="street" class="form-control" />
        <label for="suite" style="padding: 10px">Suite : </label>
        <input type="text" formControlName="suite" class="form-control" />
        <label for="city" style="padding: 10px">City: </label>
        <input type="text" formControlName="city" class="form-control" />
        <label for="zipcode" style="padding: 10px">Zipcode: </label>
        <input type="text" formControlName="zipcode" class="form-control" />
        <ng-container formGroupName="geo">
            <label for="lat" style="padding: 10px">Latitude: </label>
            <input type="text" formControlName="lat" class="form-control" />
            <label for="lng" style="padding: 10px">Longtitude: </label>
            <input type="text" formControlName="lng" class="form-control" />
        </ng-container>
    </ng-container>
</form>

<br />
<h3>Company</h3>
<hr />
<br />

<form [formGroup]="employeeForm">
    <ng-container formGroupName="company">
        <label for="name" style="padding: 10px">Name : </label>
        <input type="text" formControlName="name" class="form-control" />
        <label for="catchPhrase" style="padding: 10px">catchPhrase : </label>
        <input type="text" formControlName="catchPhrase" class="form-control" />
        <label for="bs" style="padding: 10px">BS: </label>
        <input type="text" formControlName="bs" class="form-control" />
    </ng-container>
</form>
<br />

<button type="button" class="btn btn-outline-success" (click)="save()">
    Save
</button>
<br />

<p class="text-left p-5">result: {{ result }}</p>